<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{order.name}}">
    <ion-content class="padding">
          <h2>Status: <span ng-class="{ green: order.status == 'approved', red: order.status == 'rejected', yellow: order.status == 'pending' }">{{order.status}}</span></h2>
        <div class="list card">
        <ion-list>
            <ion-item class="item-remove-animate item-avatar item-icon-right item item-complex">
                <div class="left item-avatar">
                    <img ng-src="{{order.face}}">
                </div>
                <div class="item-content">
                    <h2>{{order.name}}</h2>
                    <p>
                        {{order.lastText}}
                        <span class="right">{{order.phone}}</span>
                    </p>
                    
                </div>
                
            </ion-item>
        </ion-list>
        </div>  

            <ion-list>
                <ion-item>
                    <div>
                        <span class="left">Microsoft Surface Pro 3</span>
                        <span class="right">{{ 1500 | currency}}</span>
                    </div>
                </ion-item>
                <ion-item>
                    <div>
                        <span class="left">Surface Dock</span>
                        <span class="right">{{ 150 | currency}}</span>
                    </div>
                </ion-item>
                <ion-item>
                    <div>
                        <span class="left">Surface Mouse</span>
                        <span class="right">{{ 70 | currency}}</span>
                    </div>
                </ion-item>
                <ion-item>
                    <div>
                        <span class="left">Surface AC Adaptor</span>
                        <span class="right">{{ 50 | currency}}</span>
                    </div>
                </ion-item>
                <ion-item class="item item-divider">
                    <span class="strong left">Total</span>
                    <span class="right">{{order.amount | currency}}</span>
                </ion-item>
            </ion-list>
            <div class="right">
                
            </div>
        <div data-ng-show="order.status == 'pending'">
            <button class="button button-full button-balanced icon ion-checkmark-circled" ng-click="orderApprove(orderId)"> Approve</button>
            <button class="button button-full button-assertive icon ion-close-circled" ng-click="orderReject(orderId)"> Reject</button>
        </div>
        
</ion-content>
</ion-view>
